<app-navbar location="home" [username]="username"><button class="btn btn-danger" (click)="logout()">Disconnettiti</button></app-navbar>
<div class="mt-5 container-lg p-3">
    <div>
        <form>
            <div class="row">
                <div class="col-9">
                    <input type="text" class="form-control" name="query" [(ngModel)]="query" (keyup.enter)="search()" placeholder="Cerca un gioco!">
                </div>
                <div class="col-3">
                    <button class="btn btn-success w-100" (click)="search()">Cerca</button>
                </div>
            </div>
        </form>
    </div>
    
    <div class="row mt-5">
        <div class="col-lg-4 col-md-6 mb-5" *ngFor="let game of games">
            <app-game [game]="game"></app-game>
        </div>
    </div>
</div>

