<app-navbar></app-navbar>

<app-fatalerror></app-fatalerror>

<app-scroll-to-top></app-scroll-to-top>

<div class="mt-5 container-lg p-3">
    <div class="input-group mb-3">
        <input type="text" autocomplete="off" class="form-control custom-text" name="query" [(ngModel)]="query" (keyup.enter)="initSearch()" placeholder="Cerca un gioco!">
        <div class="input-group-append">
          <button class="btn btn-success custom-button" (click)="initSearch()" type="button">Cerca</button>
          <button *ngIf="hasSearched" class="btn btn-danger reset-button" (click)="reset()" type="button">Reset</button>
        </div>
    </div>
    
    <div class="row mt-5">
        <div *ngIf="noResults && hasSearched" class="col-12 no-results">
            <h1> Nessun risultato trovato :( </h1> 
        </div>
        <div *ngIf="loading" class="col-12 d-flex flex-row justify-content-center align-items-center">
            <mat-spinner></mat-spinner>
        </div>
        <div class="col-lg-4 col-md-6 mb-5" *ngFor="let game of games" routerLink='/poppingames/games/{{ game.id }}' [state]="game">
            <app-game (click)="cacheGames()" [game]="game"></app-game>
        </div>
    </div>
</div>

