<app-navbar></app-navbar>
<div class="container-fluid g-0">
    <div class="row g-0 position-relative">
        <div class="col-12">
            <div class="hero" 
                [ngStyle]="{
                    'background-image': 'linear-gradient(to bottom, rgba(31, 29, 54, 0.35) 0%, rgba(31, 29, 54, 1)),' +
                    'url(' + ( game?.background_image_additional || game?.background_image || '/assets/default/gameboy.svg' ) + ')'
                }"> 
            </div>
        </div>
        <div class="col-12 text-overlay">
            <h1 class="title"> {{ game?.name }} </h1>
            <div *ngIf="game?.parent_platforms" class="platforms">
                <div 
                  class="platform-icon" 
                  *ngFor="let platform of game?.parent_platforms"
                  [style.background-image]="'url(/assets/icons/' + platform.platform.slug + '.svg)'"
                >
                </div>
            </div>
            <div *ngIf="(game?.genres && game!.genres.length > 0)" class="genres">
                <div class="d-flex flex-row justify-content-center align-items-center" 
                    *ngFor="let genre of game?.genres!.slice(0, 3); let size = count; let i = index"> 
                    <p> {{ genre.name | uppercase }} </p>
                    <span *ngIf="i < (size - 1)" class="separator"></span>
                </div>
            </div>
            <div class="game-details">
                <a *ngIf="game?.metacritic" [attr.href]="(game?.metacritic_url ? game?.metacritic_url : null)" class="metacritic" target="_blank">
                    <img class="img-fluid m-logo" src="/assets/misc/Metacritic_logo.svg">
                    <mat-progress-spinner 
                    class="score-spinner" 
                    [value]="game?.metacritic"
                    ></mat-progress-spinner>
                    <h3 class="score"> {{ game?.metacritic }} </h3>
                </a>  
            </div>
        </div>
    </div>
</div>

<div class="container-lg pb-5">
    <div class="row">
        <div class="col-12 mt-4">
            <div class="description" [innerHTML]="game?.description"></div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Informazioni</h3>
            <div class="info-box">
                <div class="row w-100 info p-0">
                    <div class="col-lg-10 d-flex flex-column justify-content-evenly align-items-center text-center align-items-lg-start text-lg-start">
                        <div *ngIf="game?.released" class="w-100"> 
                            <p> 
                                Rilasciato: 
                                <b> {{ game?.released | fulldate }} </b> 
                            </p> 
                        </div>

                        <div *ngIf="game?.developers && game?.developers!.length > 0" class="w-100"> 
                            <hr class="w-100">
                            <p>
                                Sviluppato da: 
                                <b> <span *ngFor="let developer of game?.developers; let i = index; let size = count"> 
                                    {{ developer.name }}<span *ngIf="i < size - 1">,</span>
                                </span> </b>
                            </p>
                        </div>

                        <div *ngIf="game?.publishers && game?.publishers!.length > 0" class="w-100"> 
                            <hr class="w-100">
                            <p>
                                Publisher:
                                <b> <span *ngFor="let publisher of game?.publishers; let i = index; let size = count"> 
                                    {{ publisher.name }}<span *ngIf="i < size - 1">,</span>
                                </span> </b>
                            </p>
                        </div>
                        

                        <div *ngIf="game?.platforms && game?.platforms!.length > 0" class="w-100"> 
                            <hr class="w-100">
                            <p>
                                Disponibile per:
                                <span *ngFor="let platform of game?.platforms; let i = index; let size = count"> 
                                    <b>{{ platform.platform.name }}</b>
                                    <span *ngIf="i < size - 1">, </span> 
                                </span>
                            </p>
                        </div>
                        

                        <div *ngIf="game?.website" class="w-100"> 
                            <hr class="w-100">
                            <p>
                                Sito web:
                                <b> <a class="link url" target="_blank" [href]="game?.website"> {{ stripUrl(game?.website) }} </a> </b>
                            </p>
                        </div>
                        
                        
                    </div>
                    <div class="col-lg-2 text-center d-flex flex-column align-items-center justify-content-center">
                        <hr class="w-100 mb-3 d-lg-none">
                        <div>
                            <div class="esrb-logo" [style.background-image]="'url(assets/esrb/' + game?.esrb_rating?.slug + '.svg)'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="screenshots.length > 0" class="row mt-5">
        <h3>Screenshot</h3>
        <div class="col-12">
            <div id="screenshotCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner br-10">
                  <div *ngFor="let screenshot of screenshots; let i = index" [class]="(i === 0 ? 'carousel-item active' : 'carousel-item')">
                    <img [src]="screenshot.image" class="d-block w-100">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#screenshotCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#screenshotCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <h3 class="mb-3">
            {{ reviews.length }} {{ (reviews.length > 1 || reviews.length === 0) ? "recensioni" : "recensione" }}
            <h5 class="fw-light d-inline" *ngIf="reviews.length > 0"> • Media: {{ averageRating | rating }}/10</h5>
        </h3>
        <div class="col-lg-7 reviews">
            <div *ngFor="let currentReview of reviews">
                <div class="card review-card">
                    <a class="delete-button" 
                    *ngIf="localStorage!.getItem('username') && (currentReview._id === ownReviewId || isAdmin)" 
                    (click)="deleteReview(currentReview._id)">
                        <mat-icon>delete_forever</mat-icon>
                    </a>
                    <div class="row">
                        <div class="col-9">
                            <div class="card-body">
                                <div class="card-title d-flex flex-column justify-content-center">
                                   <h2>{{ currentReview.reviewedBy }}</h2>
                                </div>
                                <div class="d-flex flex-column justify-content-between">
                                    <p>{{ currentReview.reviewContent }}</p>
                                    <i><p class="m-0 p-0">{{ currentReview.time.toString() | isodate }}</p></i>
                                </div>
                            </div>
                        </div>
                            <div class="col-3 d-flex flex-column justify-content-center align-items-end">
                            <h2 class="mx-4">{{ currentReview.rating }}/10</h2>
                        </div>
                    </div>
                    
                </div>
            </div>
            <h4 class="fw-light text-center text-lg-start" *ngIf="reviews.length <= 0">Nessuno ha ancora recensito questo gioco, sii il primo a farlo!</h4>
        </div>
        <div class="d-flex w-100 flex-row justify-content-center align-items-center d-lg-none">
            <hr class="d-lg-none w-100 mb-2">
        </div>
        <div class="col-lg-5 mt-custom-sm d-flex flex-column justify-content-center">
            <div *ngIf="localStorage?.getItem('username')">
                <h4>Scrivi una recensione</h4>
                <div *ngIf="reviewErrors.length > 0" class="review-errors">
                    <h3 *ngFor="let error of reviewErrors">{{ error }}</h3>
                </div>
                <form class="d-flex flex-column justify-content-evenly align-items-center text-start">
                    <p class="w-100" *ngIf="review.time">Hai già lasciato una recensione il {{ review.time.toString() | isodate }}. </p>
                    <textarea class="form-control form-control-lg black" name="reviewContent" [(ngModel)]="review.reviewContent" maxlength="140" minlength="1" placeholder="Recensione">
                    </textarea>
                    <mat-slider [displayWith]="formatVote" name="rating" id="rating" (change)="updateVote()" thumbLabel class="w-50 slider mt-2 mb-2" min="0.0" max="10.0" step="0.5" [value]="(review.rating !== undefined ? review.rating : '5.0')"></mat-slider>
                    <button class="form-control btn btn-success" (click)="sendReview()"> {{ review.time ? "Modifica" : "Invia" }} recensione</button>
                </form>
            </div>
            <h3 class="fw-light text-center" *ngIf="!localStorage?.getItem('username')">
                <a class="link" routerLink="/poppingames/login" (click)="setRedirectUrl()">Accedi</a> per lasciare una recensione.
            </h3>
        </div>
    </div>
</div>
<div class="container-fluid clips-div">
    <div *ngIf="clips.length > 0" class="row mt-5 clips d-flex flex-column align-items-center align-items-lg-between">
        <h3>Clip più popolari (30 giorni)</h3>
        <div class="row mt-3">   
            <div *ngFor="let clip of clips" class="col-lg-6 mb-5 text-start">
                <i class="fw-light clip-date"> {{ clip.created_at.substr(0, 10) | date }} </i>
                <h4 class="mt-0 mb-0 fw-light">
                    <a target="_blank" class="link text-decoration-none" [href]="clip.url">{{ clip.title }}</a>
                </h4>
                <h5 class="fw-light mb-2">
                    di 
                    <a 
                        [attr.href]="checkBroadcasterName(clip.broadcaster_name) ? 'https://twitch.tv/' + clip.broadcaster_name : null" target="_blank" class="link text-decoration-none">
                        {{ clip.broadcaster_name }}
                    </a>
                </h5>
                <video class="w-100" [src]="clip.thumbnail_url | clipurl" controls></video>
            </div>
        </div>
    </div>
</div> 


    

    

    
    
