<app-navbar></app-navbar>
<div class="w-100 d-flex flex-column justify-content-center align-items-center success text-center" id="success">
    <mat-icon class="success-icon mb-3">check_circle</mat-icon>
    <h1> Ti sei registrato con successo! </h1>
    <h3> Reindirizzo alla pagina di accesso... </h3>
</div>

<app-fatalerror></app-fatalerror>

<div class="d-flex flex-column justify-content-center h-100 container-md register p-5">
    <div *ngIf="errors.length > 0" class="errors mb-3">
        <mat-icon class="mb-3 error-icon">error</mat-icon>
        <h3 *ngFor="let error of errors">  {{ error }} </h3>
    </div>
    <form>
        <div class="col-12 mb-3 pink">
            <h1> Registrati! </h1>
        </div>
        <div class="col-12 mb-3">
            <input type="text" class="form-control fw-bold" minlength="5" name="username" autocomplete="off" [(ngModel)]="username" placeholder="Username">
        </div>
        <div class="col-12 mb-3">
            <input type="password" class="form-control fw-bold" minlength="6" name="password" [(ngModel)]="password" placeholder="Password">
        </div>
        <div class="col-12 mt-5">
            <button class="btn btn-primary form-control" (click)="register()">Registrati</button>
        </div>
    </form>
</div>
