<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="/assets/icons/logo.svg" width="30" height="30" class="d-inline-block align-text-top">
            PoppinGames
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex flex-row justify-content-between" id="navbarNavAltMarkup">
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a *ngIf="username" class="nav-link white-clickable" routerLink="/gaming">Home</a>
                    </li>
                    <li class="nav-item">
                        <a *ngIf="!username" class="nav-link white-clickable" routerLink="/gaming/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a *ngIf="!username" class="nav-link white-clickable" routerLink="/gaming/register">Registrazione</a>
                    </li>
                </ul>
            </div>
            <div class="d-lg-flex flex-row justify-content-between">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a *ngIf="username" class="nav-link white"> Ciao, <a class="white-clickable" href="#"> <b> {{ username }} </b> </a> </a>
                    </li>
                    <li class="nav-item">
                        <ng-content></ng-content>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>